playbook-GEL_-_QRadar_Log_Source.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 7075f5f5-bccf-4175-8894-fe91f36a78fd
inputs: []
name: GEL - QRadar Log Source
outputs: []
starttaskid: "0"
tasks:
  "0":
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1fa43ce4-650e-4a38-8df6-d5160ce205eb
      iscommand: false
      name: ""
      version: -1
    taskid: 1fa43ce4-650e-4a38-8df6-d5160ce205eb
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 50
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d614da19-b591-46ec-8d73-a22d3478a1ac
      iscommand: false
      name: Extract and Enrich Log Source indicator
      type: title
      version: -1
    taskid: d614da19-b591-46ec-8d73-a22d3478a1ac
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 695,
          "y": 370
        }
      }
  "6":
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 889a30f9-fec4-4e9c-8046-8c05ae5d30fb
      iscommand: false
      name: Check Server details from Inventory Management
      type: title
      version: -1
    taskid: 889a30f9-fec4-4e9c-8046-8c05ae5d30fb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 695,
          "y": 515
        }
      }
  "9":
    continueonerror: true
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        simple: ${incident.labels.offense_source}
      list_name:
        simple: ITSM
      search_by:
        simple: Qradar Logsource ID
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Search for related information of the server using IP address
      id: 4151c591-4b10-49d6-8c61-ee60805d2fee
      iscommand: false
      name: Get server information by Log Source ID
      script: SearchDataFromList
      type: regular
      version: -1
    taskid: 4151c591-4b10-49d6-8c61-ee60805d2fee
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 660
        }
      }
  "18":
    continueonerror: true
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hello,
          The ${ITSM.Search.IP_Name} has failed to send log for 720 minutes. Please check and fix the issue. If the server is no longer in use, please update soc.
      subject:
        simple: '[Test] SOC: Log Sources ${ITSM.Search.IP_Name} error'
      to:
        simple: ${ActiveDirectory.Users.mail.[0]}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email using Gmail.
      id: 8d0fde8c-df52-41d3-808f-cf162f5990d8
      iscommand: true
      name: Send notification email
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 8d0fde8c-df52-41d3-808f-cf162f5990d8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2730
        }
      }
  "20":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${incident.name}
          operator: containsGeneral
          right:
            value:
              simple: Log source
      label: logsource
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      logsource:
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 53c3f6c4-b916-431e-882d-1c021c881265
      iscommand: false
      name: Check offense type
      type: condition
      version: -1
    taskid: 53c3f6c4-b916-431e-882d-1c021c881265
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 195
        }
      }
  "21":
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 89e58723-1c11-4389-81f2-f6e862771df0
      iscommand: false
      name: End
      type: title
      version: -1
    taskid: 89e58723-1c11-4389-81f2-f6e862771df0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2905
        }
      }
  "22":
    continueonerror: true
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        simple: ${incident.labels.offense_source}
      list_name:
        simple: ITSM_Endpoint
      search_by:
        simple: IP Address
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Search for related information of the server using IP address
      id: ec1b11cf-1fed-4630-8c3f-ee2749268e96
      iscommand: false
      name: Get endpoint information
      script: SearchDataFromList
      type: regular
      version: -1
    taskid: ec1b11cf-1fed-4630-8c3f-ee2749268e96
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 920,
          "y": 1360
        }
      }
  "23":
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      name:
        simple: ${ITSM.Search.User}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves detailed information about a user account. The user can
        be specified by name, email address, or as an Active Directory Distinguished
        Name (DN). If no filter is specified, all users are returned.
      id: f6250a77-31f0-4116-86b8-1d8ff03561fd
      iscommand: true
      name: Query AD for Owner's Email address
      script: '|||ad-get-user'
      type: regular
      version: -1
    taskid: f6250a77-31f0-4116-86b8-1d8ff03561fd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 2380
        }
      }
  "24":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ITSM.Search
          operator: isEmpty
      label: "yes"
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 46d66c1f-0677-4e0a-868c-706abcb997a7
      iscommand: false
      name: Continue Searching
      type: condition
      version: -1
    taskid: 46d66c1f-0677-4e0a-868c-706abcb997a7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": 835
        }
      }
  "25":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ITSM.Search
          operator: isEmpty
      label: "yes"
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "27"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7e81ee73-a694-47f9-8f43-86992624456e
      iscommand: false
      name: Continue Searching
      type: condition
      version: -1
    taskid: 7e81ee73-a694-47f9-8f43-86992624456e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 1185
        }
      }
  "26":
    continueonerror: true
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      ip:
        simple: ${incident.labels.offense_source}
      list_name:
        simple: ITSM
      search_by:
        simple: IP Address
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Search for related information of the server using IP address
      id: b1bdfe2c-9b9f-41bb-87a3-17c282e7aeaf
      iscommand: false
      name: Get server information by IP Address
      script: SearchDataFromList
      type: regular
      version: -1
    taskid: b1bdfe2c-9b9f-41bb-87a3-17c282e7aeaf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 1010
        }
      }
  "27":
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a216fca5-bcd0-42e3-8184-622ff6022cc3
      iscommand: false
      name: Notify user and create ticket
      type: title
      version: -1
    taskid: a216fca5-bcd0-42e3-8184-622ff6022cc3
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1535
        }
      }
  "28":
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      category:
        simple: Services
      description:
        simple: |-
          Hello,
          The ${ITSM.Search.IP_Name} has failed to send log for 720 minutes. Please check and fix the issue. If the server is no longer in use, please update soc.
      group:
        simple: ${ITSM.Search.Group}
      impact:
        simple: '{"id": "2", "name": "Low < 5 users"}'
      item:
        simple: Service Request
      level:
        simple: Third Level Support
      request_type:
        simple: Service Request
      requester:
        simple: Mohd Aiman Hakim Mohd Ghazali
      site:
        simple: Menara Great Eastern
      subcategory:
        simple: Infrastructure
      subject:
        simple: '[Test] SOC: Log Sources ${ITSM.Search.IP_Name} error'
      udf_fields:
        simple: udf_pick_61502:GELS
      urgency:
        simple: Low
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Creates new requests.
      id: 34cfad23-77e5-4398-8528-d0064d5e59d5
      iscommand: true
      name: Create SDP Ticket
      script: '|||service-desk-plus-request-create'
      type: regular
      version: -1
    taskid: 34cfad23-77e5-4398-8528-d0064d5e59d5
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 2030
        }
      }
  "29":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ITSM.Search.Platform
          operator: isEqualString
          right:
            value:
              simple: UNIX
      label: unix
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ITSM.Search.Platform
          operator: isEqualString
          right:
            value:
              simple: WINTEL
      label: wintel
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ITSM.Search.Platform
          operator: isEqualString
          right:
            value:
              simple: NETWORK
      label: network
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ITSM.Search.Platform
          operator: isEqualString
          right:
            value:
              simple: AS400
      label: as400
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      as400:
      - "33"
      network:
      - "31"
      unix:
      - "30"
      wintel:
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1e811730-0f27-4d0b-8888-3ee11ba0abe6
      iscommand: false
      name: Check for log source's platform
      type: condition
      version: -1
    taskid: 1e811730-0f27-4d0b-8888-3ee11ba0abe6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1680
        }
      }
  "30":
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ITSM.Search.Group
      value:
        simple: Unix Support(e2p)
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: c9002ac6-0509-4fe2-89cc-0491af48814f
      iscommand: false
      name: Set group to unix support (e2p)
      script: Set
      type: regular
      version: -1
    taskid: c9002ac6-0509-4fe2-89cc-0491af48814f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1855
        }
      }
  "31":
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ITSM.Search.Group
      value:
        simple: Network Support (e2p)
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 5595b093-9768-47f5-82dc-229a5515c799
      iscommand: false
      name: Set group to network support (e2p)
      script: Set
      type: regular
      version: -1
    taskid: 5595b093-9768-47f5-82dc-229a5515c799
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1855
        }
      }
  "32":
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ITSM.Search.Group
      value:
        simple: Wintel Support (e2p)
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: eff4bcb0-e105-4a4b-8b50-d4385c3193c7
      iscommand: false
      name: Set group to wintel support (e2p)
      script: Set
      type: regular
      version: -1
    taskid: eff4bcb0-e105-4a4b-8b50-d4385c3193c7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 1855
        }
      }
  "33":
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ITSM.Search.Group
      value:
        simple: as400supportgroup
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: d671ae1d-bf35-47e6-8951-7e113e45dc5e
      iscommand: false
      name: Set group to AS400 support
      script: Set
      type: regular
      version: -1
    taskid: d671ae1d-bf35-47e6-8951-7e113e45dc5e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1855
        }
      }
  "34":
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    scriptarguments:
      sdpassignedgroup:
        simple: ${ServiceDeskPlus.Request.Group.name}
      sdpcreatedtime:
        simple: ${ServiceDeskPlus.Request.CreatedTime}
      sdpdescription:
        simple: ${ServiceDeskPlus.Request.Description}
      sdprequester:
        simple: ${ServiceDeskPlus.Request.Requester.name}
      sdpticketid:
        simple: ${ServiceDeskPlus.Request.Id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: c023d4aa-82d5-4fa9-8a49-78ae3ae40806
      iscommand: true
      name: Add SDP Ticket info to layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: c023d4aa-82d5-4fa9-8a49-78ae3ae40806
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 2205
        }
      }
  "35":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ActiveDirectory.Users.mail.[0]
          operator: isNotEmpty
      label: "yes"
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 07847b9d-8dae-46d3-83f2-0033e5bd9c88
      iscommand: false
      name: Check if can get owner's email
      type: condition
      version: -1
    taskid: 07847b9d-8dae-46d3-83f2-0033e5bd9c88
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": 2555
        }
      }
  "36":
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    scriptarguments:
      offense_id:
        simple: ${incident.labels.id}
      status:
        simple: CLOSED
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Updates an offense.
      id: fc46ac4b-6a39-4830-8ba1-b9dd826a5b28
      iscommand: true
      name: Close QRadar Offense
      script: '|||qradar-offense-update'
      type: regular
      version: -1
    taskid: fc46ac4b-6a39-4830-8ba1-b9dd826a5b28
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 3030
        }
      }
  "37":
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: 52ab72e2-c061-4ffc-8e71-a992b1ced8e8
      iscommand: true
      name: Close XSOAR Incident
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 52ab72e2-c061-4ffc-8e71-a992b1ced8e8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 270,
          "y": 3170
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3215,
        "width": 1670,
        "x": 50,
        "y": 50
      }
    }
  }
