playbook-GEL_-_Malware.yml
contentitemexportablefields:
  contentitemfields:
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 93eef3d9-399f-4a17-8acc-3a56d38a4534
inputs: []
name: GEL - Malware
outputs: []
starttaskid: "0"
tasks:
  "0":
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 27073676-ce18-46e9-82a2-13fce27a541c
      iscommand: false
      name: ""
      version: -1
    taskid: 27073676-ce18-46e9-82a2-13fce27a541c
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 695,
          "y": 65
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.typeoffense
          operator: isEqualString
          right:
            value:
              simple: Malware
      label: "yes"
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "yes":
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c8e19696-21fc-4833-83cd-b4e16402fdbf
      iscommand: false
      name: Is Malware outbreak alert
      type: condition
      version: -1
    taskid: c8e19696-21fc-4833-83cd-b4e16402fdbf
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": 225
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 92f77826-aefb-4e3f-85e5-e9b36562a003
      iscommand: false
      name: Extract Indicator
      type: title
      version: -1
    taskid: 92f77826-aefb-4e3f-85e5-e9b36562a003
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 695,
          "y": 400
        }
      }
  "3":
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: av_signature
      value:
        simple: ${incident.avsignature}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: ec3bdc78-f8b2-4c08-8d69-87e0f1b187c7
      iscommand: false
      name: AV Signature
      script: Set
      type: regular
      version: -1
    taskid: ec3bdc78-f8b2-4c08-8d69-87e0f1b187c7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 545
        }
      }
  "4":
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: file_hash
      value:
        simple: ${incident.avsignature}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: b9f612fd-ea5e-416e-8b60-61e1a39877da
      iscommand: false
      name: File Hash
      script: Set
      type: regular
      version: -1
    taskid: b9f612fd-ea5e-416e-8b60-61e1a39877da
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 720
        }
      }
  "5":
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "6"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ban_hash
      value:
        simple: ${incident.avsignature}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 64da9b0e-7af1-4bce-8201-f6f2918996bd
      iscommand: false
      name: Ban Hash
      script: Set
      type: regular
      version: -1
    taskid: 64da9b0e-7af1-4bce-8201-f6f2918996bd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 895
        }
      }
  "6":
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: file_path
      value:
        simple: ${incident.avsignature}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 95298798-1a0e-409f-8cc0-ff7b47cf27d7
      iscommand: false
      name: File Path
      script: Set
      type: regular
      version: -1
    taskid: 95298798-1a0e-409f-8cc0-ff7b47cf27d7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1070
        }
      }
  "7":
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: file_name
      value:
        simple: ${incident.avsignature}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: aa07ae61-c8ed-409e-8f11-86f07e411a37
      iscommand: false
      name: File Name
      script: Set
      type: regular
      version: -1
    taskid: aa07ae61-c8ed-409e-8f11-86f07e411a37
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1245
        }
      }
  "8":
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: file_prevalence
      value:
        simple: ${incident.avsignature}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 7a16cfc6-5d6d-499e-82db-3120dc8c9f46
      iscommand: false
      name: File Prevalence
      script: Set
      type: regular
      version: -1
    taskid: 7a16cfc6-5d6d-499e-82db-3120dc8c9f46
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1420
        }
      }
  "9":
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: file_prevalence
      value:
        simple: ${incident.avsignature}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 3fc74013-8119-440f-8030-1d8a81ec9142
      iscommand: false
      name: Network connectivity
      script: Set
      type: regular
      version: -1
    taskid: 3fc74013-8119-440f-8030-1d8a81ec9142
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1595
        }
      }
  "10":
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d04cf7c7-9320-475a-8ed2-add9ea30e83d
      iscommand: false
      name: Enrich Indicators
      type: title
      version: -1
    taskid: d04cf7c7-9320-475a-8ed2-add9ea30e83d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1770
        }
      }
  "11":
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d1b752c7-9869-491b-8f08-53b21cb44d7c
      iscommand: false
      name: File Hash
      type: title
      version: -1
    taskid: d1b752c7-9869-491b-8f08-53b21cb44d7c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1915
        }
      }
  "12":
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8c78c00f-6cad-4f96-8718-ffc4e309435f
      iscommand: false
      name: Network Connectivity
      type: title
      version: -1
    taskid: 8c78c00f-6cad-4f96-8718-ffc4e309435f
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 1915
        }
      }
  "13":
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 62f3926b-fa5e-466a-8ce2-0102adb41893
      iscommand: false
      name: Check with VirusTotal
      type: regular
      version: -1
    taskid: 62f3926b-fa5e-466a-8ce2-0102adb41893
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2060
        }
      }
  "14":
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: af2d5174-d421-47ed-830c-bf7122746463
      iscommand: false
      name: Check with other TI
      type: regular
      version: -1
    taskid: af2d5174-d421-47ed-830c-bf7122746463
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2060
        }
      }
  "15":
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 92be6b3d-2bce-4f26-85a8-3e84666f9673
      iscommand: false
      name: Get Verdict
      type: regular
      version: -1
    taskid: 92be6b3d-2bce-4f26-85a8-3e84666f9673
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2235
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: getverdict
          operator: isEqualString
          right:
            value:
              simple: malicious
      label: malicious
    - condition:
      - - left:
            iscontext: true
            value:
              simple: getverdict
          operator: isEqualString
          right:
            value:
              simple: benign
      label: benign
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      benign:
      - "26"
      malicious:
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 50da6b28-da65-4ebd-8a54-73774d04fc3e
      iscommand: false
      name: Remediation
      type: condition
      version: -1
    taskid: 50da6b28-da65-4ebd-8a54-73774d04fc3e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2585
        }
      }
  "17":
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0d837927-1489-46cd-86fa-997401ed1c63
      iscommand: false
      name: Ban the Hash
      type: regular
      version: -1
    taskid: 0d837927-1489-46cd-86fa-997401ed1c63
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2760
        }
      }
  "18":
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a84a341d-148a-41c3-8e11-072469d320a2
      iscommand: false
      name: Delete the file
      type: regular
      version: -1
    taskid: a84a341d-148a-41c3-8e11-072469d320a2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2935
        }
      }
  "19":
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6401c741-4897-4ef2-8559-d43af89154ba
      iscommand: false
      name: Check with URL Scan
      type: regular
      version: -1
    taskid: 6401c741-4897-4ef2-8559-d43af89154ba
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 2060
        }
      }
  "20":
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0f9ba89b-8b43-4ff1-8606-dea2e46e85ef
      iscommand: false
      name: Check with Virus Total
      type: regular
      version: -1
    taskid: 0f9ba89b-8b43-4ff1-8606-dea2e46e85ef
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 2060
        }
      }
  "21":
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2323ceb6-6d65-4f98-8ac1-13f16fecd53f
      iscommand: false
      name: Get Verdict
      type: regular
      version: -1
    taskid: 2323ceb6-6d65-4f98-8ac1-13f16fecd53f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 2235
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: getverdict
          operator: isEqualString
          right:
            value:
              simple: malicious
      label: malicious
    - condition:
      - - left:
            iscontext: true
            value:
              simple: getverdict
          operator: isEqualString
          right:
            value:
              simple: benign
      label: benign
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      benign:
      - "26"
      malicious:
      - "23"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 591d35f3-d575-4a51-854c-78907c6485d9
      iscommand: false
      name: Remediation
      type: condition
      version: -1
    taskid: 591d35f3-d575-4a51-854c-78907c6485d9
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 2585
        }
      }
  "23":
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 635dcaaa-5bcb-4bc5-8c82-b258009d1eec
      iscommand: false
      name: Run AV Scan
      type: regular
      version: -1
    taskid: 635dcaaa-5bcb-4bc5-8c82-b258009d1eec
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 2760
        }
      }
  "24":
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c2c76cf5-423d-4b9c-8110-feb8ada6b185
      iscommand: false
      name: Block Domain or IP
      type: regular
      version: -1
    taskid: c2c76cf5-423d-4b9c-8110-feb8ada6b185
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 2935
        }
      }
  "25":
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d96525cc-af0d-47ce-8004-869663c134ab
      iscommand: false
      name: Block URL
      type: regular
      version: -1
    taskid: d96525cc-af0d-47ce-8004-869663c134ab
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 3110
        }
      }
  "26":
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ca9d2bf0-9af3-4e15-8381-3d319741ceb9
      iscommand: false
      name: End
      type: title
      version: -1
    taskid: ca9d2bf0-9af3-4e15-8381-3d319741ceb9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 730,
          "y": 3320
        }
      }
  "27":
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f65a3366-90f9-474b-869f-e1f3b6f505e6
      iscommand: false
      name: Communicate with IT Help Desk
      type: regular
      version: -1
    taskid: f65a3366-90f9-474b-869f-e1f3b6f505e6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2410
        }
      }
  "28":
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 61f753f4-60e5-4c27-8ab1-b15a8b58e56d
      iscommand: false
      name: Communicate with IT Network team
      type: regular
      version: -1
    taskid: 61f753f4-60e5-4c27-8ab1-b15a8b58e56d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 2410
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3320,
        "width": 1670,
        "x": 50,
        "y": 65
      }
    }
  }
