playbook-DPC_-_Detect_&_Manage_Phishing_Campaigns.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 3.0.6
    packID: ""
    propagationLabels:
    - all
    remote: true
    toServerVersion: ""
description: |-
  This playbook is used to find, create and manage phishing campaigns. When a number of similar phishing incidents exist in the system, the playbook can be used to do the following:
  1. Find and link related incidents to the same phishing attack (a phishing campaign).
  2. Search for an existing Phishing Campaign incident, or create a new incident for the linked Phishing incidents.
  3. Link all detected phishing incidents to the Phishing Campaign incident that was found or that was created previously.
  4. Update the Phishing Campaign incident with the latest data about the campaign, and update all related phishing incidents to indicate that they are part of the campaign.
id: eeaca0af-0ebe-4f2b-8dd7-c4135019eef0
inputs:
- description: Whether to automatically link the incidents that make up the campaign,
    to the phishing campaign incident. Can be True (default) or False. It is recommended
    not to change the default.
  key: AutomaticallyLinkIncidents
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: The name of the incident field in which the incident type is stored.
    Default is "type". Change this argument only if you're using a custom field for
    specifying the incident type.
  key: incidentTypeFieldName
  playbookInputQuery: null
  required: false
  value:
    simple: type
- description: A comma-separated list of incident types by which to filter. Specify
    "None" to search through all incident types By default, the value is "Phishing"
    because the Phishing incident type is used out of the box.
  key: incidentTypes
  playbookInputQuery: null
  required: false
  value:
    simple: Phishing
- description: 'The date from which to search for similar incidents. Date format is
    the same as in the incidents query page. For example: "3 days ago", "2019-01-01T00:00:00
    +0200".'
  key: existingIncidentsLookback
  playbookInputQuery: null
  required: false
  value:
    simple: 7 days ago
- description: Additional text by which to query incidents to find similar Phishing
    incidents. Uses the same language to query incidents in the UI.
  key: query
  playbookInputQuery: null
  required: false
  value: {}
- description: The maximum number of incidents to fetch. Determines how many incidents
    can be checked for similarity at the time of execution.
  key: limit
  playbookInputQuery: null
  required: false
  value:
    simple: "1000"
- description: The name of the incident field that contains the email subject. By
    default this is `emailsubject` (because the email subject is stored under `${incident.emailsubject}`.
  key: emailSubject
  playbookInputQuery: null
  required: false
  value:
    simple: emailsubject
- description: The name of the incident field that contains the email body.
  key: emailBody
  playbookInputQuery: null
  required: false
  value:
    simple: emailbody
- description: The name of the incident field that contains the HTML version of the
    email body.
  key: emailBodyHTML
  playbookInputQuery: null
  required: false
  value:
    simple: emailbodyhtml
- description: The name of the incident field that contains the email sender.
  key: emailFrom
  playbookInputQuery: null
  required: false
  value:
    simple: emailfrom
- description: Whether to compare the new incident to closed incidents, non closed
    incidents, or all incidents. Can be "All", "ClosedOnly", or "NonClosedOnly". Default
    is "All".
  key: statusScope
  playbookInputQuery: null
  required: false
  value:
    simple: All
- description: The threshold to consider an incident as similar. The range of values
    is 0-1. If needed, make small adjustments and continue to evaluate the required
    value. It is recommended not to change the default value of `0.8`.|
  key: threshold
  playbookInputQuery: null
  required: false
  value:
    simple: "0.8"
- description: The maximum number of incidents to display as part of a campaign. If
    a campaign includes a higher number of incidents, the results will contain only
    these amounts of incidents.
  key: maxIncidentsToReturn
  playbookInputQuery: null
  required: false
  value:
    simple: "200"
- description: The minimum number of incidents to consider as a campaign. For example,
    if you specify `10`, but only `9` similar incidents are found, the script will
    not find them as part of a campaign.|
  key: minIncidentsForCampaign
  playbookInputQuery: null
  required: false
  value:
    simple: "3"
- description: The minimum number of unique recipients of similar email incidents
    to consider as a campaign. as a campaign.
  key: minUniqueRecipients
  playbookInputQuery: null
  required: false
  value:
    simple: "2"
- description: |-
    A comma-separated list of fields to display. For example, "emailclassification,closereason". If a list of fields is provided, and a campaign is detected, these incidents fields will be displayed.
    Note - removing the "emailfrom", "recipients", or "severity" fields from this list will affect dynamic sections displayed in the campaign layout and render them useless.
  key: fieldsToDisplay
  playbookInputQuery: null
  required: false
  value:
    simple: id,name,similarity,emailfrom,recipients,severity,status,occurred
- description: Whether to automatically close the incidents that make up the campaign.
    Can be True or False.
  key: AutomaticallyCloseIncidents
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
name: DPC - Detect & Manage Phishing Campaigns
outputs: []
sourceplaybookid: Detect & Manage Phishing Campaigns
starttaskid: "0"
tasks:
  "0":
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 71c0180b-a7d4-45e3-8ee8-e617c3a757f6
      iscommand: false
      name: ""
      version: -1
    taskid: 71c0180b-a7d4-45e3-8ee8-e617c3a757f6
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 50
        }
      }
  "1":
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      emailBody:
        complex:
          root: inputs.emailBody
      emailBodyHTML:
        complex:
          root: inputs.emailBodyHTML
      emailFrom:
        complex:
          root: inputs.emailFrom
      emailSubject:
        complex:
          root: inputs.emailSubject
      existingIncidentsLookback:
        complex:
          root: inputs.existingIncidentsLookback
      fieldsToDisplay:
        complex:
          root: inputs.fieldsToDisplay
      incidentTypeFieldName:
        complex:
          root: inputs.incidentTypeFieldName
      incidentTypes:
        complex:
          root: inputs.incidentTypes
      includeSelf:
        simple: "true"
      limit:
        complex:
          root: inputs.limit
      maxIncidentsToReturn:
        complex:
          root: inputs.maxIncidentsToReturn
      minIncidentsForCampaign:
        complex:
          root: inputs.minIncidentsForCampaign
      minUniqueRecipients:
        complex:
          root: inputs.minUniqueRecipients
      query:
        complex:
          root: inputs.query
      statusScope:
        complex:
          root: inputs.statusScope
      threshold:
        complex:
          root: inputs.threshold
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Find a campaign of emails based on textual similarity.
      id: e9f8368f-3e17-4a51-82c4-06c0fdb69590
      iscommand: false
      name: Detect email campaign
      script: FindEmailCampaign
      type: regular
      version: -1
    taskid: e9f8368f-3e17-4a51-82c4-06c0fdb69590
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 195
        }
      }
  "2":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: EmailCampaign.isCampaignFound
          operator: isTrue
      label: "yes"
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the email was found to be part of a bigger phishing
        campaign.
      id: 182eac17-f27b-4979-8c58-277fec52442e
      iscommand: false
      name: Is the email part of a campaign?
      type: condition
      version: -1
    taskid: 182eac17-f27b-4979-8c58-277fec52442e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 370
        }
      }
  "3":
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      CampaignIncidentType:
        simple: Phishing Campaign
      IncidentIDs:
        complex:
          accessor: id
          root: EmailCampaign.incidents
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the incident campaign's ID for the campaign that is linked
        to at least one of the given incidents.
      id: b78b6205-9f7a-4e2f-8586-5fc7b9219aea
      iscommand: false
      name: Search for an existing campaign incident
      script: IsIncidentPartOfCampaign
      type: regular
      version: -1
    taskid: b78b6205-9f7a-4e2f-8586-5fc7b9219aea
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 490,
          "y": 690
        }
      }
  "5":
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      name:
        simple: Phishing Campaign - ${incident.name}
      type:
        simple: Phishing Campaign
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Create a new incident for the phishing campaign.
      id: 9134a981-4ba9-42f3-8d48-d4838c0e980a
      iscommand: true
      name: Create a new campaign incident
      script: Builtin|||createNewIncident
      type: regular
      version: -1
    taskid: 9134a981-4ba9-42f3-8d48-d4838c0e980a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 705,
          "y": 1040
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: ExistingCampaignID
          operator: isNotEmpty
      label: "yes"
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "5"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether any of the similar phishing incidents are currently
        linked to an existing phishing campaign.
      id: a07d5342-50af-4e84-8809-a9c6e69ce882
      iscommand: false
      name: Is there an existing campaign incident?
      type: condition
      version: -1
    taskid: a07d5342-50af-4e84-8809-a9c6e69ce882
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 490,
          "y": 865
        }
      }
  "8":
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8526d05b-0198-47d9-8ef8-198518a43f71
      iscommand: false
      name: Not A Campaign
      type: title
      version: -1
    taskid: 8526d05b-0198-47d9-8ef8-198518a43f71
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -120,
          "y": 2590
        }
      }
  "9":
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      id:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: ExistingCampaignID
              operator: isNotEmpty
          root: ExistingCampaignID
          transformers:
          - operator: uniq
      key:
        simple: EmailCampaign
      value:
        complex:
          root: EmailCampaign
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Works the same as the 'Set' command, but can work across incidents
        by specifying 'id' as an argument. This adds the EmailCampaign context to
        the Phishing Campaign incident, so that the dynamic sections in its layout
        can use up-to-date campaign data.
      id: 5ceaf4be-b151-475d-82da-f93afcd7f57d
      iscommand: false
      name: Update the existing campaign incident with the campaign data
      script: SetByIncidentId
      type: regular
      version: -1
    taskid: 5ceaf4be-b151-475d-82da-f93afcd7f57d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1565
        }
      }
  "10":
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      id:
        complex:
          root: CreatedIncidentID
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Start investigation of the campaign incident so that the data can
        be changed.
      id: 7a8ceece-9cdb-408c-89df-33159f32edeb
      iscommand: true
      name: Investigate new campaign incident
      script: Builtin|||investigate
      type: regular
      version: -1
    taskid: 7a8ceece-9cdb-408c-89df-33159f32edeb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 705,
          "y": 1215
        }
      }
  "12":
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "23"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      incidentId:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: ExistingCampaignID
              operator: isNotEmpty
          root: ExistingCampaignID
          transformers:
          - operator: FirstArrayElement
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: CreatedIncidentID
            operator: SetIfEmpty
      linkedIncidentIDs:
        complex:
          accessor: id
          root: EmailCampaign.incidents
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Links the phishing incidents that were found in the campaign, to
        the phishing campaign incident.
      id: 4dcd3711-f256-4756-860a-0a580ba2790c
      iscommand: true
      name: Link the phishing incidents to the campaign incident
      script: Builtin|||linkIncidents
      type: regular
      version: -1
    taskid: 4dcd3711-f256-4756-860a-0a580ba2790c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 2090
        }
      }
  "13":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutomaticallyLinkIncidents
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the detected Phishing incidents can be linked to
        the Phishing Campaign incident by checking if the AutomaticallyLinkIncidents
        playbook input is set to True.
      id: 2fe416fb-631c-41ab-8fec-f9071512247a
      iscommand: false
      name: Can the found incidents be linked to the campaign?
      type: condition
      version: -1
    taskid: 2fe416fb-631c-41ab-8fec-f9071512247a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 490,
          "y": 1915
        }
      }
  "15":
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 93a1f988-1047-4d7a-81d1-62de4eaeb17e
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 93a1f988-1047-4d7a-81d1-62de4eaeb17e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 290,
          "y": 2800
        }
      }
  "17":
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 98fbb059-c69b-4f0c-8599-decb7f0cabcb
      iscommand: false
      name: Phishing Campaign Detected
      type: title
      version: -1
    taskid: 98fbb059-c69b-4f0c-8599-decb7f0cabcb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 490,
          "y": 545
        }
      }
  "18":
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      emailcampaigncanvas:
        complex:
          accessor: emailcampaigncanvas
          root: incident
      emailcampaignmutualindicators:
        complex:
          accessor: emailcampaignmutualindicators
          root: incident
      emailcampaignsnippets:
        complex:
          accessor: emailcampaignsnippets
          root: incident
      emailcampaignsummary:
        complex:
          accessor: emailcampaignsummary
          root: incident
      id:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: ExistingCampaignID
              operator: isNotEmpty
          root: ExistingCampaignID
          transformers:
          - operator: FirstArrayElement
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Updates the EmailCampaignSummary, EmailCampaignMutualIndicators
        and EmailCampaignCanvas fields in the Phishing Campaign incident.
      id: 44990df1-aed9-4373-81cf-110eb8876e8c
      iscommand: true
      name: Update the existing campaign with incident data
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 44990df1-aed9-4373-81cf-110eb8876e8c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1740
        }
      }
  "19":
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      emailcampaigncanvas:
        complex:
          accessor: emailcampaigncanvas
          root: incident
      emailcampaignmutualindicators:
        complex:
          accessor: emailcampaignmutualindicators
          root: incident
      emailcampaignsnippets:
        complex:
          accessor: emailcampaignsnippets
          root: incident
      emailcampaignsummary:
        complex:
          accessor: emailcampaignsummary
          root: incident
      id:
        complex:
          root: CreatedIncidentID
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Updates the EmailCampaignSummary, EmailCampaignMutualIndicators
        and EmailCampaignCanvas fields in the Phishing Campaign incident.
      id: d8130aea-44d3-4a6d-8e30-8f6cadadc635
      iscommand: true
      name: Update the existing campaign with incident data
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: d8130aea-44d3-4a6d-8e30-8f6cadadc635
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 705,
          "y": 1740
        }
      }
  "20":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.AutomaticallyCloseIncidents
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "15"
      "yes":
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the Phishing incidents that were detected can be
        automatically closed. If the IncludeSelf parameter is set to True, the current
        incident will also be closed.
      id: a705c222-b75c-4ed3-89d5-2e6047d71ce0
      iscommand: false
      name: Can the found incidents be closed?
      type: condition
      version: -1
    taskid: a705c222-b75c-4ed3-89d5-2e6047d71ce0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 490,
          "y": 2440
        }
      }
  "21":
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      closeReason:
        simple: Part of a phishing campaign.
      id:
        complex:
          accessor: id
          root: EmailCampaign.incidents
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Closes all the phishing incidents that were found to be part of
        the campaign.
      id: d5a6c069-de9f-4129-83ec-3273aa2431e2
      iscommand: true
      name: Close all found phishing incidents
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: d5a6c069-de9f-4129-83ec-3273aa2431e2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 655,
          "y": 2615
        }
      }
  "23":
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      id:
        complex:
          accessor: id
          root: EmailCampaign.incidents
          transformers:
          - operator: uniq
      partofcampaign:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: ExistingCampaignID
              operator: isNotEmpty
          root: ExistingCampaignID
          transformers:
          - operator: FirstArrayElement
          - args:
              applyIfEmpty: {}
              defaultValue:
                iscontext: true
                value:
                  simple: CreatedIncidentID
            operator: SetIfEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 99b6a61f-0d65-4a7f-898c-5248ea680c56
      iscommand: true
      name: Mark incidents as part of the campaign
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 99b6a61f-0d65-4a7f-898c-5248ea680c56
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 490,
          "y": 2265
        }
      }
  "25":
    continueonerror: true
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      errorUnfinished:
        simple: "true"
      id:
        complex:
          root: CreatedIncidentID
      key:
        simple: EmailCampaign
      retry-count:
        simple: "5"
      retry-interval:
        simple: "5"
      value:
        complex:
          root: EmailCampaign
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Works the same as the 'Set' command, but can work across incidents by specifying 'id' as an argument.
        Sets a value into the context with the given context key. Doesn't append by default.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: d7891412-e8d2-4861-8743-6620888ea531
      iscommand: false
      name: Update the new campaign incident with the campaign data
      script: 0dba5574-0542-4f34-8f29-5d93a60e460b
      type: regular
      version: -1
    taskid: d7891412-e8d2-4861-8743-6620888ea531
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 705,
          "y": 1390
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "13_12_yes": 0.46,
      "20_15_#default#": 0.53,
      "2_17_yes": 0.55,
      "2_8_#default#": 0.44
    },
    "paper": {
      "dimensions": {
        "height": 2815,
        "width": 1205,
        "x": -120,
        "y": 50
      }
    }
  }
