playbook-Search_And_Delete_Emails_-_Generic_v2_copy.yml
contentitemexportablefields:
  contentitemfields:
    fromServerVersion: 5.5.0
    itemVersion: 2.1.2
    packID: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: This playbook searches and delete emails with similar attributes of a
  malicious email using EWS or Office 365.
id: 7d0b2de3-14dc-4cfc-8d6a-b7dc920e40e9
inputs:
- description: The value of the malicious email's "From" attribute.
  key: From
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailfrom
      root: incident
- description: The value of the malicious email's "Subject" attribute.
  key: Subject
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailsubject
      root: incident
- description: The value of the malicious email's "AttachmentName" attribute.
  key: AttachmentName
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: attachmentname
      root: incident
- description: The integration in which to run the search and delete action. Can be
    O365, or EWS.
  key: SearchAndDeleteIntegration
  playbookInputQuery: null
  required: true
  value:
    simple: EWS
- description: Used only in O365. Comma-separated list of mailboxes/distribution groups
    to include, or use the value "All" to include all.
  key: O365ExchangeLocation
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailto
      root: incident
- description: Used only in O365. Text search string or a query that is formatted
    using the Keyword Query Language (KQL).
  key: O365KQL
  playbookInputQuery: null
  required: false
  value: {}
- description: Used only in O365. Description of the compliance search.
  key: O365Description
  playbookInputQuery: null
  required: false
  value: {}
- description: Used only in O365. Whether to include mailboxes other than regular
    user mailboxes in the compliance search. Default is "false".
  key: |
    O365AllowNotFoundExchangeLocations
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: Used only in O365. The delete type to perform on the search results.
    Possible values are Hard and Soft or leave empty to select manually. (Hard = Unrecoverable,
    Soft=Recoverable)
  key: O365DeleteType
  playbookInputQuery: null
  required: false
  value:
    simple: inputs.O365DeleteType
- description: Used only when searching and deleting emails in O365. The exchange
    location. Determines from where to search and delete emails searched using O365
    playbooks. Use the value "All" to search all mailboxes, use "SingleMailbox" to
    search and delete the email only from the recipient's inbox, or specify "Manual"
    to decide manually for every incident. Note - searching all mailboxes may take
    a significant amount of time.
  key: O365ExchangeLocationExclusion
  playbookInputQuery: null
  required: false
  value:
    complex:
      root: inputs.O365ExchangeLocationExclusion
- description: The email address to which the email was sent. This is used if the
    user decides to search for and delete emails only from the inbox of the recipient
    using O365.
  key: To
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailto
      root: incident
name: Search And Delete Emails - Generic v2_copy
outputs: []
sourceplaybookid: Search And Delete Emails - Generic v2
starttaskid: "0"
tasks:
  "0":
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 808e9cce-8112-49d4-8624-907a6fbeb394
      iscommand: false
      name: ""
      version: -1
    taskid: 808e9cce-8112-49d4-8624-907a6fbeb394
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "1":
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      AttachmentName:
        complex:
          root: inputs.AttachmentName
      DeleteType:
        simple: trash
      From:
        complex:
          root: inputs.From
      Limit:
        simple: "20"
      SearchThisWeek:
        simple: "true"
      Subject:
        complex:
          root: inputs.Subject
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: This playbook searches EWS to identify and delete emails with similar
        attributes of a malicious email.
      id: a7b6936c-73ee-4fba-8314-3514fa9a9070
      iscommand: false
      name: Search And Delete Emails - EWS
      playbookId: search_and_delete_emails_-_ews
      type: playbook
      version: -1
    taskid: a7b6936c-73ee-4fba-8314-3514fa9a9070
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 780,
          "y": 1230
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 88c58e53-8fe7-4ca2-8697-0ed3f67191fe
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 88c58e53-8fe7-4ca2-8697-0ed3f67191fe
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1420
        }
      }
  "3":
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      allow_not_found_exchange_locations:
        complex:
          root: |
            inputs.O365AllowNotFoundExchangeLocations
      delete_type:
        complex:
          root: inputs.O365DeleteType
      exchange_location:
        complex:
          root: ExchangeLocation
      exchange_location_exclusion:
        complex:
          root: inputs.O365ExchangeLocationExclusion
      force:
        simple: "false"
      kql:
        complex:
          root: inputs.O365KQL
      preview:
        simple: "true"
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        This playbook performs the following steps:
        1. Creates a compliance search.
        2. Starts a compliance search.
        3. Waits for the compliance search to complete.
        4. Gets the results of the compliance search.
        5. Gets the preview results, if specified.
        6. Deletes the search results (Hard/Soft).
      id: 5902bdde-4d32-4ee2-8cb3-73707f7c90aa
      iscommand: false
      name: O365 - Security And Compliance - Search And Delete
      playbookId: O365 - Security And Compliance - Search And Delete
      type: playbook
      version: -1
    taskid: 5902bdde-4d32-4ee2-8cb3-73707f7c90aa
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -380,
          "y": 1230
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: EWS v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: SecurityAndCompliance
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.SearchAndDeleteIntegration
          operator: isEqualString
          right:
            value:
              simple: O365
      label: Both Enabled, input is O365
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: SecurityAndCompliance
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: EWS v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isEmpty
      label: Only O365 Enabled
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: EWS v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: SecurityAndCompliance
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.SearchAndDeleteIntegration
          operator: isEqualString
          right:
            value:
              simple: EWS
      label: Both Enabled, input is EWS
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: EWS v2
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: SecurityAndCompliance
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isEmpty
      label: Only EWS enabled
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      Both Enabled, input is EWS:
      - "9"
      Both Enabled, input is O365:
      - "12"
      Only EWS enabled:
      - "10"
      Only O365 Enabled:
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks which integration and playbook should be used to run the
        search & delete action, by checking the SearchAndDeleteIntegration playbook
        input.
      id: e201e0a1-cd90-42de-8bfa-fabda317318f
      iscommand: false
      name: In what integration should emails be searched and deleted?
      type: condition
      version: -1
    taskid: e201e0a1-cd90-42de-8bfa-fabda317318f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 180
        }
      }
  "5":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.O365ExchangeLocation
          operator: isEqualString
          right:
            value:
              simple: SingleMailbox
      label: Recipient's Mailbox
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                root: inputs.O365ExchangeLocation
          operator: isEqualString
          right:
            value:
              simple: All
      label: All Mailboxes
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      All Mailboxes:
      - "7"
      Recipient's Mailbox:
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if a target to search and delete emails from was specified.
        Determined by the O365ExchangeLocation playbook input.
      id: d2db2ba7-3e13-47ce-8fd2-0842b89a386f
      iscommand: false
      name: From where should emails be searched and deleted?
      type: condition
      version: -1
    taskid: d2db2ba7-3e13-47ce-8fd2-0842b89a386f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -770,
          "y": 610
        }
      }
  "6":
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      All Mailboxes:
      - "7"
      Recipients Mailbox:
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Allows the analyst to decide where to search for and delete the
        email from - is it from the mailbox of the recipient, or from all available
        mailboxes?
      id: 25801150-ef91-4ccc-8275-5ca5225fc857
      iscommand: false
      name: Manually decide where to search & delete the email
      type: condition
      version: -1
    taskid: 25801150-ef91-4ccc-8275-5ca5225fc857
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -770,
          "y": 820
        }
      }
  "7":
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ExchangeLocation
      value:
        simple: All
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: ac91c4b3-329f-4341-894e-4cb9a92ab88e
      iscommand: false
      name: Set all mailboxes to be searched
      script: Set
      type: regular
      version: -1
    taskid: ac91c4b3-329f-4341-894e-4cb9a92ab88e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1090,
          "y": 1020
        }
      }
  "8":
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: ExchangeLocation
      value:
        complex:
          root: inputs.To
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 586e6f48-4fd2-489d-8948-f5327f2e431d
      iscommand: false
      name: Set the "email to" as the mailbox to search
      script: Set
      type: regular
      version: -1
    taskid: 586e6f48-4fd2-489d-8948-f5327f2e431d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -500,
          "y": 1020
        }
      }
  "9":
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eca8ae30-ebfa-4f62-82c9-5586e000e431
      iscommand: false
      name: Use EWS
      type: title
      version: -1
    taskid: eca8ae30-ebfa-4f62-82c9-5586e000e431
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1050,
          "y": 440
        }
      }
  "10":
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 43de9303-2031-43bc-8c5c-0f88a25a78f4
      iscommand: false
      name: Use EWS
      type: title
      version: -1
    taskid: 43de9303-2031-43bc-8c5c-0f88a25a78f4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 520,
          "y": 440
        }
      }
  "11":
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: afe381a2-655b-4dd3-8b22-2561451fcee2
      iscommand: false
      name: Use O365
      type: title
      version: -1
    taskid: afe381a2-655b-4dd3-8b22-2561451fcee2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -490,
          "y": 435
        }
      }
  "12":
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 60128cf4-a622-4411-87b3-1bb25b0b14d2
      iscommand: false
      name: Use O365
      type: title
      version: -1
    taskid: 60128cf4-a622-4411-87b3-1bb25b0b14d2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -1080,
          "y": 435
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "4_12_Both Enabled, input is O365": 0.87,
      "4_9_Both Enabled, input is EWS": 0.82
    },
    "paper": {
      "dimensions": {
        "height": 1435,
        "width": 2520,
        "x": -1090,
        "y": 50
      }
    }
  }
