playbook-GEL_-_Malware.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: Incident response process for Malware offense from QRadar
id: 93eef3d9-399f-4a17-8acc-3a56d38a4534
inputs: []
name: GEL - Malware
outputs: []
starttaskid: "0"
tasks:
  "0":
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 493e3014-e943-4cd4-8753-bc933096a051
      iscommand: false
      name: ""
      version: -1
    taskid: 493e3014-e943-4cd4-8753-bc933096a051
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 695,
          "y": 50
        }
      }
  "11":
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 31fd19ef-16da-4260-82f2-9c6aabe9709d
      iscommand: false
      name: File Hash
      type: title
      version: -1
    taskid: 31fd19ef-16da-4260-82f2-9c6aabe9709d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 1535
        }
      }
  "13":
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    scriptarguments:
      file:
        simple: ${QRadar.Event.Payload.Application_hash}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the file reputation of the specified hash.
      id: 99b25b01-7a8f-436c-887d-8745b42127e1
      iscommand: true
      name: Check with VirusTotal
      script: '|||file'
      type: regular
      version: -1
    taskid: 99b25b01-7a8f-436c-887d-8745b42127e1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 1680
        }
      }
  "26":
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6c09b4f6-f433-4d5a-895c-109bbc85a4e4
      iscommand: false
      name: End
      type: title
      version: -1
    taskid: 6c09b4f6-f433-4d5a-895c-109bbc85a4e4
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -240,
          "y": 3310
        }
      }
  "29":
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9d313be5-fd6b-48d3-8fed-2105ee45f54a
      iscommand: false
      name: Get QRadar Events
      type: title
      version: -1
    taskid: 9d313be5-fd6b-48d3-8fed-2105ee45f54a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 695,
          "y": 195
        }
      }
  "30":
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    scriptarguments:
      interval:
        simple: "1"
      query_expression:
        simple: SELECT userName, sourceip, UTF8(payload) FROM events WHERE inOffense(${incident.labels.id})
          AND (qid = '42002847' OR qid='42002836' OR qid='42002838') LIMIT 1 START
          '${QRadar.startTime}'
      timeout:
        simple: "600"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This playbook runs a QRadar query and return its results to the
        context.
      id: 34b316a6-3ed7-41aa-8a90-dc4edf19fcef
      iscommand: false
      name: QRadarFullSearch
      playbookId: QRadarFullSearch
      type: playbook
      version: -1
    taskid: 34b316a6-3ed7-41aa-8a90-dc4edf19fcef
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 695,
          "y": 515
        }
      }
  "31":
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      caseInsensitive:
        simple: "false"
      data:
        simple: ${QRadar.Search.Result.events.utf8_payload}
      newValue:
        simple: \\\U
      regex:
        simple: \\U
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Replaces regex match/es in string.
        Returns the string after replace was preformed.
      id: e75d9634-501d-4f9e-85a6-234f5718d939
      iscommand: false
      name: Standardize payload string
      script: StringReplace
      type: regular
      version: -1
    taskid: e75d9634-501d-4f9e-85a6-234f5718d939
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 865
        }
      }
  "32":
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      payload:
        simple: ${StringReplace.Result}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: The script can parse QRadar Event payload to dict and save to context
      id: a0a729e8-9fac-4aaf-8074-cca132dfbf2e
      iscommand: false
      name: Parse event data
      script: ParseQRadarEvent
      type: regular
      version: -1
    taskid: a0a729e8-9fac-4aaf-8074-cca132dfbf2e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 1040
        }
      }
  "33":
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      start_time:
        simple: ${incident.labels.start_time}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e54bfd98-ab61-4487-8bee-5175b4f0c7c6
      iscommand: false
      name: Get Offense start time
      script: 68be939d-574a-4916-8357-9a82eadd6b36
      type: regular
      version: -1
    taskid: e54bfd98-ab61-4487-8bee-5175b4f0c7c6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 340
        }
      }
  "34":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: QRadar.Search.Result
          operator: isNotEmpty
      label: "yes"
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "26"
      "yes":
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 59340472-7b9d-4834-81e2-e7ca7514a858
      iscommand: false
      name: Check if event exist
      type: condition
      version: -1
    taskid: 59340472-7b9d-4834-81e2-e7ca7514a858
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": 690
        }
      }
  "35":
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      malwareinformation:
        simple: ${QRadar.Event.Payload.md}
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.set.incident
      id: 934c6a04-15f1-42ae-83a4-05daf20fc10b
      iscommand: true
      name: Show malware information to layout
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 934c6a04-15f1-42ae-83a4-05daf20fc10b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 1215
        }
      }
  "36":
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 625b4c9b-e84a-44c1-86e8-05db360b22c1
      iscommand: false
      name: Enrichment
      type: title
      version: -1
    taskid: 625b4c9b-e84a-44c1-86e8-05db360b22c1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 1390
        }
      }
  "37":
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 92ae5a28-a338-458b-8ad2-93dc763ae87c
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: 92ae5a28-a338-458b-8ad2-93dc763ae87c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 1855
        }
      }
  "38":
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    scriptarguments:
      sAMAccountName:
        simple: ${QRadar.Event.Payload.User_Name}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves detailed information about a user account. The user can
        be specified by name, email address, or as an Active Directory Distinguished
        Name (DN). If no filter is specified, all users are returned.
      id: 38277146-ee0f-4bb4-842e-5946f22ee4f3
      iscommand: true
      name: Check user's email address
      script: '|||ad-get-user'
      type: regular
      version: -1
    taskid: 38277146-ee0f-4bb4-842e-5946f22ee4f3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2175
        }
      }
  "39":
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "47"
    note: false
    quietmode: 0
    scriptarguments:
      subject:
        simple: |
          Hi,

          ${QRadar.Event.Payload.File_path}
          Kindly confirm:
          1.            File legitimacy
          2.            Purpose of usage
          3.            Let us know if any system impacted by this detection.
      to:
        simple: ${ActiveDirectory.Users.mail.[0]}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email.
      id: 2301c835-6ba9-4716-819f-9dcdfb78cfdf
      iscommand: true
      name: Send instruction email to user
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 2301c835-6ba9-4716-819f-9dcdfb78cfdf
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2350
        }
      }
  "40":
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      md5:
        simple: ${CarbonBlackEDR.BinarySearch.Results.[0].md5}
      text:
        simple: Banned hash from QRadar event ${incident.name}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prevent execution of a specified md5 hash
      id: 95e96dbc-58fa-408a-88d8-d237c663a5c1
      iscommand: true
      name: Ban the hash on EDR
      script: '|||cb-edr-binary-ban'
      type: regular
      version: -1
    taskid: 95e96dbc-58fa-408a-88d8-d237c663a5c1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3050
        }
      }
  "42":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: QRadar.Event.Payload.Group_Name
          operator: containsString
          right:
            value:
              simple: Endpoint
      label: endpoint
    - condition:
      - - left:
            iscontext: true
            value:
              simple: QRadar.Event.Payload.Group_Name
          operator: isEqualString
          right:
            value:
              simple: Server
      label: server
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      endpoint:
      - "38"
      server:
      - "52"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6ae4fec3-1103-45bc-892f-ef3e8f1b1cb3
      iscommand: false
      name: Endpoint or Server?
      type: condition
      version: -1
    taskid: 6ae4fec3-1103-45bc-892f-ef3e8f1b1cb3
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 2000
        }
      }
  "44":
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      subject:
        simple: ${incident.name}
      to:
        simple: ChewJianYang@greateasternlife.com,DindoHernandezLopez@greateasternlife.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email.
      id: daaa091c-a4a0-4d19-8d3a-b813dfa52ace
      iscommand: true
      name: Send email to IT Sec team
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: daaa091c-a4a0-4d19-8d3a-b813dfa52ace
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 3050
        }
      }
  "47":
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Is this false positive?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "49"
      "Yes":
      - "48"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c937c9df-9634-4d1d-89be-dbf7b4e3cc8f
      iscommand: false
      name: User confirmed? False positive?
      type: condition
      version: -1
    taskid: c937c9df-9634-4d1d-89be-dbf7b4e3cc8f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2525
        }
      }
  "48":
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |
          Hi team,

          Please assist to whitelist this hash as it a legitimate application.
          SHA256:${QRadar.Event.Payload.Application_hash}
      subject:
        simple: White list request
      to:
        simple: ChewJianYang@greateasternlife.com,DindoHernandezLopez@greateasternlife.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends an email.
      id: 0faf1a06-e68e-41a2-87c0-87e48a458e87
      iscommand: true
      name: Send email to white list
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 0faf1a06-e68e-41a2-87c0-87e48a458e87
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 3050
        }
      }
  "49":
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        simple: sha256:${QRadar.Event.Payload.Application_hash}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Binary search
      id: 60217806-9fd9-44f5-856f-260177abf1ed
      iscommand: true
      name: Search for MD5 on Carbon Black
      script: '|||cb-edr-binary-search'
      type: regular
      version: -1
    taskid: 60217806-9fd9-44f5-856f-260177abf1ed
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2700
        }
      }
  "50":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: CarbonBlackEDR.BinarySearch.total_results
          operator: greaterThanOrEqual
          right:
            value:
              simple: "1"
      label: "yes"
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "51"
      "yes":
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bb643a59-d893-42c2-8e33-45f4f6f243d6
      iscommand: false
      name: Check if MD5 returned?
      type: condition
      version: -1
    taskid: bb643a59-d893-42c2-8e33-45f4f6f243d6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2875
        }
      }
  "51":
    id: "51"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b4a4bf68-60d6-4c5a-82b8-3d3efa3f3f2f
      iscommand: false
      name: No MD5 found on CB, please ban the hash manually
      type: regular
      version: -1
    taskid: b4a4bf68-60d6-4c5a-82b8-3d3efa3f3f2f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3050
        }
      }
  "52":
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f3f1b390-800e-439d-8e0d-943f6c5146f7
      iscommand: false
      name: Get Server owner email
      type: regular
      version: -1
    taskid: f3f1b390-800e-439d-8e0d-943f6c5146f7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 2525
        }
      }
  "53":
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "54"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 742c1da9-dec1-486e-86f0-b62a5d5f3d8e
      iscommand: false
      name: Ask owner for event detail
      type: regular
      version: -1
    taskid: 742c1da9-dec1-486e-86f0-b62a5d5f3d8e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 2700
        }
      }
  "54":
    id: "54"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Is this false positive?
      cc: null
      format: ""
      methods: []
      replyOptions:
      - "Yes"
      - "No"
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      "No":
      - "44"
      "Yes":
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 71cd1da9-4e91-44d4-8603-e342d7216ff0
      iscommand: false
      name: Owner confirmed? False positive?
      type: condition
      version: -1
    taskid: 71cd1da9-4e91-44d4-8603-e342d7216ff0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 2875
        }
      }
  "55":
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: commands.local.cmd.close.inv
      id: af115a8f-a77a-4604-803f-0574565fc685
      iscommand: true
      name: Close XSOAR Incident
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: af115a8f-a77a-4604-803f-0574565fc685
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -240,
          "y": 3580
        }
      }
  "56":
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    scriptarguments:
      offense_id:
        simple: ${incident.labels.id}
      status:
        simple: CLOSED
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Updates an offense.
      id: e369ec1b-d328-4443-893e-02fd5e40b481
      iscommand: true
      name: Close QRadar Offense
      script: '|||qradar-offense-update'
      type: regular
      version: -1
    taskid: e369ec1b-d328-4443-893e-02fd5e40b481
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -240,
          "y": 3420
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3625,
        "width": 2072.5,
        "x": -240,
        "y": 50
      }
    }
  }
