playbook-GEL_-_Phishing_Investigation.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.0.0
    itemVersion: 2.4.4
    packID: ""
    propagationLabels:
    - all
    toServerVersion: ""
description: |-
  Use this playbook to investigate and remediate a potential phishing incident. The playbook simultaneously engages with the user that triggered the incident, while investigating the incident itself.

  The final remediation tasks are always decided by a human analyst.
id: f54e87ea-faf6-45dd-807d-c6a6ace978cf
inputs:
- description: The default role to assign the incident to.
  key: Role
  playbookInputQuery: null
  required: true
  value:
    simple: Administrator
- description: |-
    Enable the "Search and Delete" capability (can be either "True" or "False").
    In case of a malicious email, the "Search and Delete" sub-playbook will look for other instances of the email and delete them pending analyst approval.
  key: SearchAndDelete
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: |-
    Enable the "Block Indicators" capability (can be either "True" or "False").
    In case of a malicious email, the "Block Indicators" sub-playbook will block all malicious indicators in the relevant integrations.
  key: BlockIndicators
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: Whether the authenticity of the email should be verified, using SPF,
    DKIM and DMARC.
  key: AuthenticateEmail
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: Set to true to assign only user that is currently on shift. Requires
    Cortex XSOAR v5.5 or later.
  key: OnCall
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: |-
    Determines which product and playbook will be used to search and delete the phishing email from users' inboxes.
    Set this to "O365" to use the O365 - Security And Compliance - Search And Delete playbook.
    Set this to "EWS" to use the Search And Delete Emails - EWS playbook.
  key: SearchAndDeleteIntegration
  playbookInputQuery: null
  required: false
  value:
    simple: EWS
- description: |-
    The method by which to delete emails using the O365 - Security And Compliance - Search And Delete playbook. Could be "Soft" (recoverable), or "Hard" (unrecoverable). Leave empty to decide manually for each email incident.
    This is only applicable if the SearchAndDeleteIntegration input is set to O365.
  key: O365DeleteType
  playbookInputQuery: null
  required: false
  value:
    simple: Soft
- description: Used only when searching and deleting emails in O365. The exchange
    location. Determines from where to search and delete emails searched using O365
    playbooks. Use the value "All" to search all mailboxes, or use ${incident.emailto}
    to search and delete the email only from the recipient's inbox. Note - searching
    all mailboxes may take a significant amount of time. This input is only applicable
    if the SearchAndDeleteIntegration input is set to O365.
  key: O365ExchangeLocation
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: emailto
      root: incident
- description: Used only when searching and deleting emails in O365. Whether to include
    mailboxes other than regular user mailboxes in the compliance search. Default
    is "false".
  key: O365AllowNotFoundSearchLocations
  playbookInputQuery: null
  required: false
  value:
    simple: "false"
- description: Used only when searching and deleting emails in O365. Comma-separated
    list of mailboxes/distribution groups to exclude when you use the value "All"
    for the O365ExchangeLocation input.
  key: O365ExchangeLocationExclusion
  playbookInputQuery: null
  required: false
  value: {}
- description: Check Microsoft's headers for BCL/PCL/SCL scores and set the "Severity"
    and "Email Classification" accordingly.
  key: CheckMicrosoftHeaders
  playbookInputQuery: null
  required: false
  value:
    simple: "True"
- description: ""
  key: target_mailbox
  playbookInputQuery: null
  required: false
  value:
    simple: gel.soc@innothings.vn
name: GEL - Phishing Investigation
outputs: []
sourceplaybookid: Phishing Investigation - Generic v2
starttaskid: "0"
tasks:
  "0":
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c71ff078-f73e-45e3-8f98-da87c206e95b
      iscommand: false
      name: ""
      version: -1
    taskid: c71ff078-f73e-45e3-8f98-da87c206e95b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
  "2":
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      onCall:
        complex:
          root: inputs.OnCall
      roles:
        complex:
          root: inputs.Role
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Assign the incident to an analyst based on the analyst's organizational
        role.
      id: 0f273477-e13b-4280-8455-1696480f7203
      iscommand: false
      name: Assign to analyst
      script: AssignAnalystToIncident
      type: regular
      version: -1
    taskid: 0f273477-e13b-4280-8455-1696480f7203
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2495
        }
      }
  "7":
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "33"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Review the incident to determine if the email that the user reported
        is malicious.
      id: 0e9fea90-278f-49d3-82dc-498d29c75598
      iscommand: false
      name: Manually review the incident
      type: regular
      version: -1
    taskid: 0e9fea90-278f-49d3-82dc-498d29c75598
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 490,
          "y": 2990
        }
      }
  "8":
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    reputationcalc: 1
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Close the investigation.
      id: 73d9939d-ba1e-4d0a-8e3e-060e5af02e2b
      iscommand: true
      name: Close investigation
      script: Builtin|||closeInvestigation
      type: regular
      version: -1
    taskid: 73d9939d-ba1e-4d0a-8e3e-060e5af02e2b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 4505
        }
      }
  "11":
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ba97c41e-0b4e-4553-8fcb-1489c22302a2
      iscommand: false
      name: Triage
      type: title
      version: -1
    taskid: ba97c41e-0b4e-4553-8fcb-1489c22302a2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 340
        }
      }
  "12":
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "53"
      - "85"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      key:
        simple: ReporterAddress
      value:
        complex:
          accessor: labels.Email/from
          root: incident
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Store the email address of the user that reported the incident.
      id: 463758ce-6bb3-4ef6-8481-563229174df7
      iscommand: false
      name: Store the email address of the reporting user
      script: Set
      type: regular
      version: -1
    taskid: 463758ce-6bb3-4ef6-8481-563229174df7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 980
        }
      }
  "13":
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      body:
        simple: "Hi ${.=function(val) { if(!(val.Account.length > 1)) return val.ReporterAddress;
          var reporter = val.ReporterAddress; var account = val.Account && val.Account.filter(function(acc)
          { return acc.DisplayName && (acc.Email  === reporter || Array.isArray(acc.Email)
          && acc.Email.indexOf(reporter) > -1) }); return account && account[0] &&
          account[0].DisplayName[0] || reporter || ''; }(val)},\nWe've received your
          email and are investigating.\nPlease do not touch the email until further
          notice.\n\nCordially, \n  Your friendly neighborhood security team"
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        complex:
          root: ReporterAddress
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |
        Send an auto-response to user that reported the incident, informing them the incident was received and being handled.
      id: d31e3927-5248-466c-8d2a-2afd6d5f7e54
      iscommand: true
      name: Acknowledge incident was received
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: d31e3927-5248-466c-8d2a-2afd6d5f7e54
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1330
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: incident.severity
          operator: greaterThanOrEqual
          right:
            value:
              simple: "2"
      label: Malicious
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "31"
      Malicious:
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Determines if the email is malicious based on the calculated severity.
      id: 80699aef-4389-4bb2-8708-1fda48ff1ee8
      iscommand: false
      name: Is the email malicious?
      type: condition
      version: -1
    taskid: 80699aef-4389-4bb2-8708-1fda48ff1ee8
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2670
        }
      }
  "16":
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      body:
        simple: |-
          Hi ${.=function(val) { if(!(val.Account.length > 1)) return val.ReporterAddress; var reporter = val.ReporterAddress; var account = val.Account && val.Account.filter(function(acc) { return acc.DisplayName && (acc.Email  === reporter || Array.isArray(acc.Email) && acc.Email.indexOf(reporter) > -1) }); return account && account[0] && account[0].DisplayName[0] || reporter || ''; }(val)},
          We've concluded that the email you forwarded to us is safe.
          Thank you for your alertness and your participation in keeping our organization secure.

          Cordially,
            Your security team
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        simple: ${ReporterAddress}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email to the user explaining that the email they reported
        is safe.
      id: 51f4f71d-48b5-4a57-88d5-0b24e39af656
      iscommand: true
      name: Update the user that the reported email is safe
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 51f4f71d-48b5-4a57-88d5-0b24e39af656
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: regular
    view: |-
      {
        "position": {
          "x": 490,
          "y": 4330
        }
      }
  "17":
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hi ${.=function(val) { if(!(val.Account.length > 1)) return val.ReporterAddress; var reporter = val.ReporterAddress; var account = val.Account && val.Account.filter(function(acc) { return acc.DisplayName && (acc.Email  === reporter || Array.isArray(acc.Email) && acc.Email.indexOf(reporter) > -1) }); return account && account[0] && account[0].DisplayName[0] || reporter || ''; }(val)},
          We've concluded that the email you forwarded to us is malicious. No further action is required on your part. Good job on detecting and forwarding it to us!

          All the best,
            Your security team
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        simple: ${ReporterAddress}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email to the user explaining that the email they reported
        is malicious.
      id: 42bfd22a-d978-41d1-88c3-e47b865670e0
      iscommand: true
      name: Update the user that the reported email is malicious
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 42bfd22a-d978-41d1-88c3-e47b865670e0
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: regular
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 3515
        }
      }
  "18":
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bdc42d9a-dfb8-486d-816d-762a1d2f51a6
      iscommand: false
      name: Engage with User
      type: title
      version: -1
    taskid: bdc42d9a-dfb8-486d-816d-762a1d2f51a6
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 820
        }
      }
  "22":
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: c1655a23-8eb0-4e61-8e0e-fe0ab30e68bc
      iscommand: false
      name: Detonate File - Generic
      playbookId: Detonate File - Generic
      type: playbook
      version: -1
    taskid: c1655a23-8eb0-4e61-8e0e-fe0ab30e68bc
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1995,
          "y": 980
        }
      }
  "26":
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "88"
      - "135"
      - "136"
    note: false
    quietmode: 0
    scriptarguments:
      Email:
        complex:
          accessor: labels.Email
          root: incident
      Email/cc:
        complex:
          accessor: labels.CC
          root: incident
      Email/format:
        complex:
          accessor: labels.Email/format
          root: incident
      Email/from:
        complex:
          accessor: labels.Email/from
          root: incident
      Email/headers:
        complex:
          accessor: labels.Email/headers
          root: incident
      Email/html:
        complex:
          accessor: labels.Email/html
          root: incident
      Email/subject:
        complex:
          accessor: labels.Email/subject
          root: incident
      Email/text:
        complex:
          accessor: labels.Email/text
          root: incident
      File:
        complex:
          root: File
      GetOriginalEmail:
        simple: "True"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Add email details to the relevant context entities and handle the
        case where original emails are attached.
      id: 2e97e8fb-74ab-45a2-8c81-fdcffb90887b
      iscommand: false
      name: Process Email - Generic
      playbookId: process_email_-_generic
      type: playbook
      version: -1
    taskid: 2e97e8fb-74ab-45a2-8c81-fdcffb90887b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 485
        }
      }
  "27":
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "97"
      - "98"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c1fcb4c0-752b-4b40-8e95-798184630548
      iscommand: false
      name: Remediation
      type: title
      version: -1
    taskid: c1fcb4c0-752b-4b40-8e95-798184630548
    timertriggers:
    - action: start
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 1135,
          "y": 3690
        }
      }
  "29":
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3dc53277-f035-4abe-8cfd-953cf88ff7cb
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 3dc53277-f035-4abe-8cfd-953cf88ff7cb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 4680
        }
      }
  "30":
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "123"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 80b30561-ca94-468b-8e85-ff82dfedb852
      iscommand: false
      name: Email Is Malicious
      type: title
      version: -1
    taskid: 80b30561-ca94-468b-8e85-ff82dfedb852
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1247.5,
          "y": 3180
        }
      }
  "31":
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a7e7727c-70ad-44ef-8dd3-8be53276b2fb
      iscommand: false
      name: Undetermined
      type: title
      version: -1
    taskid: a7e7727c-70ad-44ef-8dd3-8be53276b2fb
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 490,
          "y": 2845
        }
      }
  "33":
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      "No":
      - "16"
      "Yes":
      - "123"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is the email that the user reported malicious?
      id: ed537c7e-d529-4213-8e53-3b2a00c89db4
      iscommand: false
      name: Is the email malicious?
      type: condition
      version: -1
    taskid: ed537c7e-d529-4213-8e53-3b2a00c89db4
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 490,
          "y": 3165
        }
      }
  "39":
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "18"
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7a64292c-4b01-4e8f-84c2-87a5729ccd30
      iscommand: false
      name: Start Detection Timer
      type: title
      version: -1
    taskid: 7a64292c-4b01-4e8f-84c2-87a5729ccd30
    timertriggers:
    - action: start
      fieldname: detectionsla
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 195
        }
      }
  "43":
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 319b2750-ee6d-43ba-8ad1-af1e8d579315
      iscommand: false
      name: Stop Remediation Timer
      type: title
      version: -1
    taskid: 319b2750-ee6d-43ba-8ad1-af1e8d579315
    timertriggers:
    - action: stop
      fieldname: remediationsla
    type: title
    view: |-
      {
        "position": {
          "x": 1135,
          "y": 4345
        }
      }
  "52":
    id: "52"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "92"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 967ca2fc-a117-4ea9-8287-b0ebec15033e
      iscommand: false
      name: Indicator Enrichment
      type: title
      version: -1
    taskid: 967ca2fc-a117-4ea9-8287-b0ebec15033e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1565,
          "y": 1170
        }
      }
  "53":
    id: "53"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          root: Domain
          transformers:
          - operator: uniq
      Email:
        complex:
          root: ReporterAddress
          transformers:
          - operator: uniq
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 139c8de2-27ad-47dd-8001-c8285555c673
      iscommand: false
      name: Email Address Enrichment - Generic v2.1
      playbookId: Email Address Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: 139c8de2-27ad-47dd-8001-c8285555c673
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1155
        }
      }
  "55":
    id: "55"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "52"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 794ea21e-e4a7-42f5-85b4-38ebd3079eda
      iscommand: false
      name: Extract Indicators From File - Generic v2
      playbookId: Extract Indicators From File - Generic v2
      type: playbook
      version: -1
    taskid: 794ea21e-e4a7-42f5-85b4-38ebd3079eda
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 980
        }
      }
  "56":
    id: "56"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "101"
      - "80"
      - "131"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b8f9d118-20dd-4149-8fcb-987982aeaf20
      iscommand: false
      name: Investigation
      type: title
      version: -1
    taskid: b8f9d118-20dd-4149-8fcb-987982aeaf20
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1012.5,
          "y": 1505
        }
      }
  "79":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              simple: inputs.AuthenticateEmail
          operator: isEqualString
          right:
            value:
              simple: "True"
      - - left:
            iscontext: true
            value:
              complex:
                accessor: HeadersMap
                root: Email
          operator: isExists
      label: "yes"
    id: "79"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "84"
      "yes":
      - "82"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Whether the email should be authenticated using DKIM, SPF and DMARC.
        This checks whether "AuthenticateEmail" output is set to "True" and whether
        there are headers from an email to authenticate.
      id: 5c977934-9802-4891-8f27-018ff70bcbba
      iscommand: false
      name: Should the email be authenticated?
      type: condition
      version: -1
    taskid: 5c977934-9802-4891-8f27-018ff70bcbba
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1012.5,
          "y": 1805
        }
      }
  "80":
    id: "80"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "79"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0f480a10-7da5-473e-8477-310644abac82
      iscommand: false
      name: Email Authenticity Check
      type: title
      version: -1
    taskid: 0f480a10-7da5-473e-8477-310644abac82
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1012.5,
          "y": 1650
        }
      }
  "82":
    id: "82"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "83"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      headers:
        complex:
          accessor: Headers
          root: Email
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks the authenticity of an email based on the email's SPF, DMARC,
        and DKIM.
      id: 3c4a777c-8350-4f7d-895f-1b19e394f701
      iscommand: false
      name: Authenticate email
      script: CheckEmailAuthenticity
      type: regular
      version: -1
    taskid: 3c4a777c-8350-4f7d-895f-1b19e394f701
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1012.5,
          "y": 1970
        }
      }
  "83":
    id: "83"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      emailauthenticitycheck:
        complex:
          accessor: AuthenticityCheck
          root: Email
          transformers:
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Undetermined
              toReplace:
                value:
                  simple: undetermined
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Pass
              toReplace:
                value:
                  simple: pass
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Fail
              toReplace:
                value:
                  simple: fail
            operator: replace
          - args:
              limit: {}
              replaceWith:
                value:
                  simple: Suspicious
              toReplace:
                value:
                  simple: suspicious
            operator: replace
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Save the verdict, regarding the authenticity of the email, in an
        incident field.
      id: b0a8e998-73d2-454c-8c7e-48d786eb25d0
      iscommand: true
      name: Save authenticity check result to incident field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: b0a8e998-73d2-454c-8c7e-48d786eb25d0
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1012.5,
          "y": 2145
        }
      }
  "84":
    id: "84"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: fd6bdbdd-d1ae-4361-874c-c8743f7c48d2
      iscommand: false
      name: Calculate Severity - Generic v2
      playbookId: Calculate Severity - Generic v2
      type: playbook
      version: -1
    taskid: fd6bdbdd-d1ae-4361-874c-c8743f7c48d2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2320
        }
      }
  "85":
    id: "85"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      reporteremailaddress:
        complex:
          root: ReporterAddress
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Saves the email address of the reporter of the email, in an incident
        field.
      id: b9121f89-d3fb-4bcd-88e8-dc697338630f
      iscommand: true
      name: Save reporter email address in field
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: b9121f89-d3fb-4bcd-88e8-dc697338630f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1155
        }
      }
  "87":
    continueonerror: true
    id: "87"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "90"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      emailBody:
        complex:
          accessor: Text
          root: Email
          transformers:
          - operator: uniq
      emailBodyHTML:
        complex:
          accessor: HTML
          root: Email
          transformers:
          - operator: uniq
      emailSubject:
        complex:
          accessor: Subject
          root: Email
          transformers:
          - operator: uniq
      modelName:
        simple: phishing_model
      returnError:
        simple: "false"
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Predicts the specific type of phishing mail using a pre-trained
        machine learning model, and highlights the most important words used in the
        classification decision.
      id: 260016f5-7eb5-4674-8d4e-cf9ae4354e36
      iscommand: false
      name: Predict phishing type using pre-trained phishing model
      script: DBotPredictPhishingWords
      type: regular
      version: -1
    taskid: 260016f5-7eb5-4674-8d4e-cf9ae4354e36
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 980
        }
      }
  "88":
    id: "88"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "87"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f2cc1af8-e772-44cc-8ecd-f17a61b09cb5
      iscommand: false
      name: Machine Learning
      type: title
      version: -1
    taskid: f2cc1af8-e772-44cc-8ecd-f17a61b09cb5
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 910,
          "y": 660
        }
      }
  "89":
    id: "89"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    reputationcalc: 1
    scriptarguments:
      dbotprediction:
        complex:
          accessor: Label
          root: DBotPredictPhishingWords
          transformers:
          - operator: uniq
      dbotpredictionprobability:
        complex:
          accessor: Probability
          root: DBotPredictPhishingWords
          transformers:
          - operator: uniq
      dbottextsuggestionhighlighted:
        complex:
          accessor: TextTokensHighlighted
          root: DBotPredictPhishingWords
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: Builtin
      description: Updates incident fields with the predictions of the machine-learning
        phishing model.
      id: 93a698e0-bcf2-4e27-894d-9b5ef973767a
      iscommand: true
      name: Update incident with predictions
      script: Builtin|||setIncident
      type: regular
      version: -1
    taskid: 93a698e0-bcf2-4e27-894d-9b5ef973767a
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1320
        }
      }
  "90":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Label
                root: DBotPredictPhishingWords
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Probability
                root: DBotPredictPhishingWords
          operator: isNotEmpty
      - - left:
            iscontext: true
            value:
              complex:
                accessor: TextTokensHighlighted
                root: DBotPredictPhishingWords
          operator: isNotEmpty
      label: "yes"
    id: "90"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "56"
      "yes":
      - "89"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the model predicted the phishing type.
      id: fdbb861f-9685-4d56-835d-9202692a4e70
      iscommand: false
      name: Did the model predict the phishing type?
      type: condition
      version: -1
    taskid: fdbb861f-9685-4d56-835d-9202692a4e70
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1155
        }
      }
  "92":
    id: "92"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "56"
    note: false
    quietmode: 0
    scriptarguments:
      Email:
        complex:
          filters:
          - - left:
                iscontext: true
                value:
                  simple: Account.Email.Address
              operator: isNotEqualString
              right:
                iscontext: true
                value:
                  simple: ReporterAddress
          root: Account.Email.Address
          transformers:
          - operator: uniq
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Enrich entities using one or more integrations
      id: b45f6828-d3d5-4033-8ecc-ea46aca64939
      iscommand: false
      name: Entity Enrichment - Phishing v2
      playbookId: Entity Enrichment - Phishing v2
      type: playbook
      version: -1
    taskid: b45f6828-d3d5-4033-8ecc-ea46aca64939
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1565,
          "y": 1330
        }
      }
  "97":
    id: "97"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "142"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 51304249-5284-4731-8009-e6588c63e717
      iscommand: false
      name: Report Indicators
      type: title
      version: -1
    taskid: 51304249-5284-4731-8009-e6588c63e717
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 3835
        }
      }
  "98":
    id: "98"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "139"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eb8607d8-1c00-4bcf-8a20-9021d1b2513d
      iscommand: false
      name: Move email to Completed folder
      type: title
      version: -1
    taskid: eb8607d8-1c00-4bcf-8a20-9021d1b2513d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 3835
        }
      }
  "101":
    id: "101"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "145"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f50d8732-4ef0-44bc-897b-312be05e654b
      iscommand: false
      name: Email Campaign Search
      type: title
      version: -1
    taskid: f50d8732-4ef0-44bc-897b-312be05e654b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 552.5,
          "y": 1650
        }
      }
  "123":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: PartOfCampaign
          operator: isNotEmpty
      label: "yes"
    id: "123"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "17"
      "yes":
      - "130"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether the current incident was found to be part of a phishing
        campaign.
      id: 6b9bdcad-d9a2-4f8b-8dbf-61f31639a876
      iscommand: false
      name: Was the incident part of a phishing campaign?
      type: condition
      version: -1
    taskid: 6b9bdcad-d9a2-4f8b-8dbf-61f31639a876
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1135,
          "y": 3340
        }
      }
  "130":
    id: "130"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      body:
        simple: |-
          Hi ${.=function(val) { if(!(val.Account.length > 1)) return val.ReporterAddress; var reporter = val.ReporterAddress; var account = val.Account && val.Account.filter(function(acc) { return acc.DisplayName && (acc.Email  === reporter || Array.isArray(acc.Email) && acc.Email.indexOf(reporter) > -1) }); return account && account[0] && account[0].DisplayName[0] || reporter || ''; }(val)},
          We've concluded that the email you forwarded to us is part of a bigger phishing campaign that targeted our company. No further action is required on your part. Good job on detecting and forwarding it to us!

          All the best,
            Your security team
      subject:
        simple: 'Re: Phishing Investigation - ${incident.name}'
      to:
        simple: ${ReporterAddress}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send an email to the user explaining that the email they reported
        is malicious.
      id: 40d0630c-f349-44d1-8c53-9c7c05c09264
      iscommand: true
      name: Update the user that the email is a malicious campaign
      script: '|||send-mail'
      type: regular
      version: -1
    taskid: 40d0630c-f349-44d1-8c53-9c7c05c09264
    timertriggers:
    - action: stop
      fieldname: detectionsla
    type: regular
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 3515
        }
      }
  "131":
    id: "131"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "132"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 83aa2e8f-132d-47e8-8267-2c849cf8640e
      iscommand: false
      name: Microsoft's Headers Check
      type: title
      version: -1
    taskid: 83aa2e8f-132d-47e8-8267-2c849cf8640e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1462.5,
          "y": 1650
        }
      }
  "132":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.CheckMicrosoftHeaders
          operator: isEqualString
          right:
            value:
              simple: "True"
      label: "yes"
    id: "132"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "84"
      "yes":
      - "133"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6bd9ecac-fc7c-4cba-8c53-5576f3df9ba1
      iscommand: false
      name: Check Microsoft's Headers?
      type: condition
      version: -1
    taskid: 6bd9ecac-fc7c-4cba-8c53-5576f3df9ba1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1462.5,
          "y": 1970
        }
      }
  "133":
    id: "133"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This playbook stores the SCL, BCL and PCL scores (if exists) to the associated incident fields (Phishing SCL Score, Phishing PCL Score, and Phishing BCL Score).
        It also does the following:
        1) Sets the email classification to "spam" if the "SCL" score is equal to or higher than 5.
        2) Set the incident severity according to the playbook inputs (default is: PCL/BCL - Medium, SCL - Low). The severity of the incident is set only when one (or more) of the following occurs:
        - PCL (Phishing Confidence Level) score is between and including 4-8: The message content is likely to be phishing.
        - BCL (Bulk complaint level) score is between and including 4-7: The message is from a bulk sender that generates a mixed number of complaints. Between and including 8-9: The message is from a bulk sender that generates a high number of complaints.
        - SCL (Spam confidence level) score is between and including 5-6: Spam filtering marked the message as Spam. 9: Spam filtering marked the message as High confidence spam)

        For further information on SCL/BCL/PCL, see the following Microsoft documentation:

        https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/spam-confidence-levels?view=o365-worldwide

        https://docs.microsoft.com/en-us/microsoft-365/security/office-365-security/bulk-complaint-level-values?view=o365-worldwide

        https://docs.microsoft.com/en-us/exchange/antispam-and-antimalware/antispam-protection/antispam-stamps?view=exchserver-2019
      id: 07d27982-4921-4556-81fc-72e5dd248ffa
      iscommand: false
      name: Process Microsoft's Anti-Spam Headers
      playbookId: Process Microsoft's Anti-Spam Headers
      type: playbook
      version: -1
    taskid: 07d27982-4921-4556-81fc-72e5dd248ffa
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1462.5,
          "y": 2145
        }
      }
  "134":
    continueonerror: true
    id: "134"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "55"
    note: false
    quietmode: 0
    reputationcalc: 2
    scriptarguments:
      value:
        simple: ${Email.HTML}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 198fab09-6858-4964-879a-b4f9e6b873cb
      iscommand: false
      name: Extract Indicators from Email Text
      script: Print
      type: regular
      version: -1
    taskid: 198fab09-6858-4964-879a-b4f9e6b873cb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 805
        }
      }
  "135":
    id: "135"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "134"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9fca5aac-7e5b-4634-81c0-1c4a732ea870
      iscommand: false
      name: Indicator Extraction
      type: title
      version: -1
    taskid: 9fca5aac-7e5b-4634-81c0-1c4a732ea870
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 660
        }
      }
  "136":
    id: "136"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "143"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: cdf77fba-5b01-47fb-8907-3e273ce03bda
      iscommand: false
      name: File Sandboxing
      type: title
      version: -1
    taskid: cdf77fba-5b01-47fb-8907-3e273ce03bda
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1995,
          "y": 660
        }
      }
  "139":
    id: "139"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "140"
    note: false
    quietmode: 0
    scriptarguments:
      folder-path:
        simple: Inbox
      query:
        simple: subject:"${Email.Subject}"
      target-mailbox:
        simple: ${inputs.target_mailbox}
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWSO365
      description: Searches for items in the specified mailbox. Specific permissions
        are needed for this operation to search in a target mailbox other than the
        default.
      id: 60961a3d-a789-4011-85c3-b6fd134bd9c8
      iscommand: true
      name: Search for mail item ID
      script: EWSO365|||ews-search-mailbox
      type: regular
      version: -1
    taskid: 60961a3d-a789-4011-85c3-b6fd134bd9c8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 3980
        }
      }
  "140":
    id: "140"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      item-id:
        simple: ${EWS.Items.itemId}
      target-folder-path:
        simple: Incident Correspondence/Completed
      target-mailbox:
        simple: ${inputs.target_mailbox}
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWSO365
      description: Move an item to different folder in the mailbox.
      id: 2d4905de-d6b1-4c12-818c-2409288d2224
      iscommand: true
      name: Move email to other folder
      script: EWSO365|||ews-move-item
      type: regular
      version: -1
    taskid: 2d4905de-d6b1-4c12-818c-2409288d2224
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 4155
        }
      }
  "141":
    id: "141"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      htmlBody:
        simple: |-
          Here is the list of Indicators:
          - IP Addresses: ${Report.ip}
          - URLs: ${Report.url}
          - Domains: ${Report.domain}
          - MD5: ${Report.md5}
          - SHA256: ${Report.sha256}
      subject:
        simple: IOC Report
      to:
        simple: hiep4hiep@gmail.com
    separatecontext: false
    skipunavailable: false
    task:
      brand: EWSO365
      description: Sends an email.
      id: da1cfb45-55b5-4a3d-808a-c8a213b4e106
      iscommand: true
      name: Report Email to SOC
      script: EWSO365|||send-mail
      type: regular
      version: -1
    taskid: da1cfb45-55b5-4a3d-808a-c8a213b4e106
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 4155
        }
      }
  "142":
    id: "142"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "141"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Collect IOC from DBotScore and store in a context key
      id: 1a965ce1-b489-44d8-8c90-fb17c0fe5fc7
      iscommand: false
      name: Collect bad IOCs
      script: CreateIOCList
      type: regular
      version: -1
    taskid: 1a965ce1-b489-44d8-8c90-fb17c0fe5fc7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 3980
        }
      }
  "143":
    id: "143"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: a73734ed-23bc-4d0c-8db0-739ac08aa327
      iscommand: false
      name: Detonate File - VirusTotal (API v3)
      playbookId: Detonate File - VirusTotal (API v3)
      type: playbook
      version: -1
    taskid: a73734ed-23bc-4d0c-8db0-739ac08aa327
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1995,
          "y": 805
        }
      }
  "145":
    id: "145"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "84"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: e1ab3413-02de-42e1-8708-a0d803490e7f
      iscommand: false
      name: GEL - Detect & Manage Phishing Campaigns
      playbookId: b0b3fdd6-3ff5-4f29-8ce9-0deec388acff
      type: playbook
      version: -1
    taskid: e1ab3413-02de-42e1-8708-a0d803490e7f
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 552.5,
          "y": 2145
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "15_31_#default#": 0.6,
      "33_16_No": 0.64,
      "79_84_#default#": 0.3,
      "90_89_yes": 0.48
    },
    "paper": {
      "dimensions": {
        "height": 4695,
        "width": 2325,
        "x": 50,
        "y": 50
      }
    }
  }
